<link href="css/main.css" rel="stylesheet" type="text/css">

<nav class="nav-bar">
    <a class="nav-element" href="/">Home</a>
    <a class="nav-element" href="/blog">Blog</a>
    <a class="nav-element" href="/write">Write</a>
    <a class="nav-element" href="/aboutme">About Me</a>
</nav>