<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/write.css" rel="stylesheet" type="text/css">
    <title>Blog</title>
</head>
<body>
    <a class="nav-element-back" href="/blog">Back</a>
    <div class="post-container">
        <label for="blog-post" class="blog-label">Blog Area:</label>
        <textarea id="blog-post" class="blog-post" name="blog-post" rows="50" cols="150">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, provident ratione sit incidunt illo, delectus perspiciatis tenetur doloribus animi perferendis dolore odio amet sapiente sed iure laudantium, fugit reprehenderit iusto?</textarea>
        <button type="submit">Publish</button>
    </div>

    <script src="../public/javascripts/createBlog.js"></script>
</body>
</html>